.popup {
    z-index: 5;
    color: rgb(16, 1, 1);
    width: 320px;
    padding: 20px;
    border: 5px solid rgb(9, 0, 0);
    background-color: aliceblue;
    margin: 0;
    position: relative;
    text-align: center;
}

.child {
    position: absolute;
    transform: translate(0%, 100%);
  }


.button{
    position: relative;

}