body {
    background-color: hsl(0, 0%, 96%);
  }

  .parent {
    justify-content: center;
    position: relative;
  }


  .child {
    position: absolute;
    transform: translate(0%, 50%);
    
  }